/client/node_modules
/server/node_modules
/server/.env
/api/bungie-vendor-text/.env
/api/bungie-vendor-text/creds.json
/api/bungie-vendor-text-aws-lambda/creds.json
/api/bungie-vendor-text-aws-lambda/.env
/.idea